/**
**
**      global
**
**/
body{
    
    background: linear-gradient(90deg, rgba(186, 224, 211, 1) 0%, rgb(146, 163, 189) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
}

h1{
    font-size: 30px;
    color: rgb(44, 119, 44);
    text-align: center;
    margin-top: 10px;

}

h2{
    font-size: 20px;
    color: rgb(44, 119, 44);
    text-align: center;
    margin-top: 10px;

}
a.text-dark:hover{
    text-decoration: none;
    color: rgb(44, 119, 44);


}
h3{
    font-size: 17px;
    color: rgb(44, 119, 44);
    text-align: center;
    margin-top: 10px;
}
h4{
    font-size: 15px;
    color: rgb(44, 119, 44);
    text-align: center;
    margin-top: 10px;

}

.carousel-inner{
    height: 400px;
}
.round-image-wrapper {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.round-image-wrapper .rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    padding-bottom: 50px;
}


/**
**
**      HEADER
**
**/


.d-flex{
    margin-top: 10px;
    background-color: rgb(157, 194, 181);
}
.d-block{
    padding-right: 10px;
}

.nav{
    width: auto;
    margin: 10px 5px !important;
    border-radius: 5px;
    background-color: rgb(186, 224, 211);
} 
.nav a:not(.nav-active):hover {
    background-color: rgb(109 218 243 / 30%);
    border-radius: 6px;
}
.rounded-circle{
    width: 40px;
    height: 40px;
    margin: 10px 5px !important;
    border-radius: 50%;
    background-color: rgb(186, 224, 211);

}
.nav-active:hover ,
.nav-active {
    background-color: rgb(109 218 243 / 85%);
    border-radius: 6px;
    text-decoration: underline;
}
    
.info-nb-rdv {
    background-color: rgb(202, 172, 211);
    border-radius: 9px;
    padding: 1px 6px;
    font-size: 12px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}


#signup-div,
#login-div {
    display: block;
    padding: 20px;
    font-size: 14px;
}

input, 
button, 
select, 
optgroup, 
textarea {
    border: 1px solid #2e15f966;
    border-radius: 5px;
    background-color: #ffffffb0;
    padding: 3px 5px;
    font-size: 13px;
}


input:hover, 
button:hover, 
select:hover, 
optgroup:hover, 
textarea:hover {
    border: 1px solid #2e15f98c;
    border-radius: 5px;
    background-color: #ffffffb5;
}


input[type="submit"] {
        background-color: #82bdee;
        padding: 5px 10px;
}
input[type="submit"]:hover{
    background-color: #8b8fd57d;
    padding: 5px 10px;
}


.info-error {
    display: none;
    color: red;
}

.field-error {
    border: red 1px solid;
}


/**
**
**      blog
**
**/

.thumbnail{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.align-items-start{
    margin: 10%;
    background-color: rgb(146, 189, 174);
}
.card {
    background-color: rgb(186, 224, 211);
}






/**
**
**      rdv
**
**/

.liste-rdv li{
    margin-top: 30px;
    color: rgb(44, 119, 44);
    background-color: rgb(186, 224, 211);
}

#crea-update-form {
    display: block;
    padding: 50px 60px;
}

button {
    margin-top: 10px;
}




/**
**
**      footer
**
**/
footer{
    background : linear-gradient(90deg, rgb(142, 190, 174) 0%, rgb(161, 133, 192) 100%);
    text-align: left; 
    padding: 50px 0 100px 0;
    
}
.margin-md-6{
    padding: 50px 25px;
}